.content {
  display: flex;
  flex: 1;
  flex-direction: row;
  gap: 16px;
  padding: 48px 100px;
}

.left-side {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.right-side {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 416px;
  padding: 48px 24px;
  gap: 32px;
}

.title {
  font-size: 24px;
  font-weight: 600;
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}