@import "tailwindcss";

@theme {
  --color-background-dark: #030712;

  --color-primary: #615fff;
  --color-primary-hover: #7c86ff;
}

:root {
  --primary-color: #615fff;
  --primary-20-color: #625fff;
  --primary-hover-color: #7c86ff;

  --secondary-color: #28303e;

  --text-color: #ffffff;

  --button-text-color: #ffffff;

  --divider-color: #bcb8b1;

  --bg-dark: #030712;
}

html {
  font-size: 14px;
}

div,
p {
  margin: 0;
}

.container {
  display: flex;
  flex: 1;
  padding: 16px;
  min-height: 100vh;
}

.form-control {
  @apply flex flex-col gap-1 relative;
}

.form-control.row {
  @apply flex flex-row gap-1;
}

.form-control label {
  @apply font-medium text-black;
}

.form-control.row label {
  @apply font-medium text-black w-full max-w-56 text-base/[3rem];
}

.form-control.row.medium label {
  @apply font-medium text-black w-full max-w-56 text-base/[2.5rem];
}

.form-control input, .form-control select {
  @apply /* Layout e tamanho */
  min-w-0 flex-auto px-3 h-12

  /* Aparência básica */
  appearance-none rounded-md bg-white shadow-md shadow-gray-800/5

  /* Bordas */
  border border-gray-300

  /* Placeholder */
  placeholder:text-gray-400

  /* Foco */
  focus:border-primary focus:ring-4 focus:ring-teal-500/10 focus:outline-hidden

  read-only:text-gray-500;
}

.form-control.medium input, .form-control.medium select {
  @apply h-10;
}

.form-control .helper-text {
  @apply text-sm text-gray-500;
}

.form-control .helper-text.danger {
  @apply text-sm text-red-500;
}

.form-control .helper-text.success {
  @apply text-sm text-green-500;
}

.form-control.has-search {
  @apply flex flex-row items-center;
}

.form-control.has-search input {
  @apply pl-10;
}

.form-control.has-search .fa-search {
  @apply absolute inline-block left-4;
  @apply text-gray-400;
}

.button {
  @apply text-white;
  @apply border border-primary hover:border-primary-hover rounded-md h-12 bg-primary hover:bg-primary-hover transition duration-300 cursor-pointer px-2;
  @apply disabled:border-gray-400 disabled:bg-gray-400 disabled:text-gray-200 disabled:cursor-not-allowed;
}

.button.ghost {
  @apply text-gray-600 font-medium;
  @apply border-gray-300 bg-transparent hover:bg-gray-200;
}

.button.medium {
  @apply h-10 px-3 space-x-1;
}

.button.small {
  @apply h-8 px-3 space-x-1 text-sm;
}

.hoverable {
  @apply text-primary hover:text-primary-hover transition duration-300 cursor-pointer decoration-0;
}

.sidemenu.item {
  @apply flex h-12 w-12 justify-center items-center cursor-pointer transition duration-300;
  @apply border border-transparent rounded-4xl;
  @apply hover:border-gray-700/20 hover:text-primary hover:bg-white;
  @apply aria-selected:bg-white aria-selected:text-primary aria-selected:border-gray-700/20;
}